parameters:
    bootstrap: vendor/autoload.php
    ignoreErrors:
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
        - '#^Offset .* does not exist on array.*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\DocumentLinks\) of method .*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\ErrorLinks\) of method .*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\ProfileLink\) of method .*$#'

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
