parameters:
    bootstrap: vendor/autoload.php
    ignoreErrors:
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
        - '#^Offset .* does not exist on array.*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\DocumentLinks\) of method .*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\ErrorLinks\) of method .*$#'
        - '#^Return type \(WoohooLabs\\Yang\\JsonApi\\Schema\\Link\\ProfileLink\) of method .*$#'
        -
            message: '#^Method WoohooLabs\\Yang\\JsonApi\\Hydrator\\ClassDocumentHydrator::hydrate.* should return.*$#'
            path: '%currentWorkingDirectory%/src/JsonApi/Hydrator/ClassDocumentHydrator'
        -
            message: '#^Access to an undefined property object::.*$#'
            paths:
                - '%currentWorkingDirectory%/src/JsonApi/Hydrator/ClassDocumentHydrator'
                - '%currentWorkingDirectory%/tests/JsonApi/Hydrator/ClassDocumentHydratorTest'
        -
            message: '#^Variable property access on object\.$#'
            path: '%currentWorkingDirectory%/src/JsonApi/Hydrator/ClassDocumentHydrator'
        - '#^Dynamic call to static method PHPUnit\\Framework\\.*$#'
        -
            message: '#^.*$#'
            path: '%currentWorkingDirectory%/tests/JsonApi/Hydrator/ClassHydratorTest'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
